<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- This is a stub for other pages (index, search, profile)-->

<head>
	{% block header %}
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<title>Автоматический фотоаттракцион</title>
    <!-- Custom styles for this template -->
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" media="all" />

    <!-- Bootstrap core CSS -->
    {% load staticfiles %}
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">

	{% endblock %}
</head>
<body>
    <!-- jquery -->
    {% load staticfiles %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <!-- bootstrap js -->
    {% load staticfiles %}
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

	<div class="container">
		{% block content %}
		<div data-share-size="40" data-follow-button-text="Мне понравилось!" data-like-text-enable="false" data-background-alpha="0.0" data-pid="1362815" data-mode="share_picture" data-background-color="#ffffff" data-share-shape="round-rectangle" data-share-counter-size="12" data-icon-color="#ffffff" data-text-color="#000000" data-buttons-color="#FFFFFF" data-counter-background-color="#ffffff" data-share-counter-type="disable" data-follow-text="Не постесняйтесь нажать в %network%" data-orientation="horizontal" data-following-enable="true" data-sn-ids="vk.ok.mr.fb.tw." data-follow-in="fotoattraction" data-selection-enable="false" data-follow-title="Привет если вам поравилось" data-exclude-show-more="false" data-share-style="1" data-follow-vk="fotoattraction" data-counter-background-alpha="1.0" data-top-button="false" data-follow-fb="fotoattraction" class="uptolike-buttons" >
		</div>
	    <div id="header" align="center">
	  		<div id="logo" class="row">
	    		<a href="http://photoattraction.ru">
	      		{% load staticfiles %}
	      			<img src="{% static "img/logo.png" %}">
	    		</a>
	  		</div>

			<h2 align="center">photopost.me
	    		<span id="hlink">
	        		<a href="http://photopost.me">&lowast;</a>
	    		</span></br>
			</h2>

	 		{% block gallery %}
	 		{% endblock %}

		</div>
		{% endblock %}

		{% block footer %}
		<div id="footer" align="center" font-size="xx-small">&copy;Photopost.me,&nbsp;Moscow,&nbsp;Russia tel:&nbsp;+7(916)670-9171&nbsp;<a href="mailto:fedor@markushevich.ru">fedor@markushevich.ru</a></div>
		{% endblock %}
	</div>
</body>
