<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- This is a stub for other pages (index, search, profile)-->

<head>
	{% block header %}
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<title>Автоматический фотоаттракцион</title>
    <!-- Bootstrap core CSS -->
    {% load staticfiles %}
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">

	{% endblock %}
</head>
<body>
    <!-- jquery -->
    {% load staticfiles %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <!-- bootstrap js -->
    {% load staticfiles %}
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

	<div class="container">

    	<div class="page-header">
    		<h1>Photosessions</h1>
	    </div>

		{% block content %}
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>pk</th>
		      <th>user</th>
		      <th>device</th>
		      <th>sms_status</th>
		      <th>params</th>
		      <th>datetime</th>
		      <th>output</th>
		      <th>medias</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for photosession, medias in photosessions.items %}
		    <tr>
		      <td>{{ photosession.pk }}</td>
		      <td>{{ photosession.user }}</td>
		      <td>{{ photosession.device }}</td>
		      <td>{{ photosession.sms_status }}</td>
		      <td>{{ photosession.params }}</td>
		      <td>{{ photosession.datetime }}</td>
		      <td>{{ photosession.output }}</td>
		      <td>
		          {% for media in medias %}
					<a href="{{ media.file.url }}" class="thumbnail">
                	{% load staticfiles %}
                	<img src="{{ media.file.url }}" width=100>
            		</a>
		          {% endfor %}
		      </td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
		{% endblock content %}
	</div>
</body>