{% extends "base.html" %}

{% block gallery %}

	{% for photo in photos %}
    <div class="col-xs-12 col-md-12">
        <!--<a href="{{ photo.file.url }}" class="thumbnail">-->
            <a href="#" class="thumbnail">
            {% load staticfiles %}
            <img src="{{ photo.file.url }}">
        </a>
    </div>
	{% empty %}
	<div align="center">No images in your gallery yet.</div>
	{% endfor %}

    {% if photos %}
    <nav>
        <ul class="pagination">
            {% if photos.has_previous %}
                    <li><a href="?page={{ photos.previous_page_number }}">Prev</a></li>
            {% endif %}
            {% for page in photos.paginator.page_range %}
                <li class="{% if photos.number == page  %}active{% endif %}"><a href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}

            {% if photos.has_next %}
                <li> <a href="?page={{ photos.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

{% endblock %}