body {
  background-color:white; /*#231a11;
  background-image:url(bg_dots_choc.gif);
  color: #a19585;*/
  color:black;
  font-family: "Lucida Sans Unicode", "Lucida Sans", Geneva, Helvetica, Arial, sans-serif;
  padding:0;
  margin:0;
}

body {
  background-color: #EFEEEC;
  font-family: "Lucida Sans Unicode", "Lucida Sans", Geneva, Helvetica, Arial, sans-serif; padding:0;
  font: 17.5px;
  color: #1A1A1A;
  padding-bottom: 180px;
  margin:0; 
  clear: both;
}

a:link, a:visited {
  color: #FF8401; 
  text-decoration:none;
}

h1, h2, h3, h4 {
  padding:0;
  margin:0;
  text-transform:uppercase;
}

p {
  padding:0;
  margin:0;
}

div {
  padding:4px 10px;
}

#hlink {
  position:absolute;
  right:10px;
}

#hlink a {
  text-transform:none;
  color:white;
}

#header {
  padding:4px 10px 0 10px;
} 

#page {
  padding:10px;
}

#content {
  float:left;
  padding:0;
}

#header {
  background: #EFEEEC url(/protogal/img/line-decor-top.png) 0 74px repeat-x;
  /*padding-top: 45px;*/
  padding-bottom: 45px;
  text-align: center;
  z-index: 1000;
  top: 0;
  margin: 0 auto;
  width: 960px; }

#logo {
    padding-bottom: 10px;
}

#footer {
  clear:both;
  padding-top:10px;
}

.orange {
  color: #FF8401;
}
